.flex-container
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

.Foto
{
    width: 40%;
}

.text
{
    font-family: 'Segoe UI';
    padding: 20px;
    border-radius: 3px;
}

.text input:focus
{
    background-color: lightblue;
}

form [type=email]
{
    margin: 5px;
    padding: 10px;
}

form [type=password]
{
    margin: 5px;
    padding: 10px;
}

form [type=button]
{
    
    margin: 5px;
    padding: 10px;
    background-color: #0067b8;
    color: #FFFFFF;
    border: 0px;
    text-decoration: none;
    text-underline-offset: 2px;
    text-decoration-thickness: 2px;
}

form [type=button]:hover
{
    text-decoration-line: underline;
    animation: strike 200ms ease-in-out alternate;
}

@keyframes strike
{
    from
    {
        text-decoration-color: transparent ;
    }
    to
    {
        text-decoration-color: auto;
    }
}
